:root {
  --white: #d1d8e0;
  --gray: #a5b1c2;
  --black: #4b6584;
  --real-black: #060608;
  --red: #fc5c65;
  --green: #26de81;
  --dark-green: #20bf6b;
  --grass-green: #C7F899;
  --blue: #4b7bec;
  --orange: #fd9644;
  --very-light-green: #D8F0D8;
  --brown: #b47538;
  --light-brown: #d6a851;
}

@font-face{
  font-family: pokemon;
  src: url("fonts/pokemon-classic.woff") format("woff");
}

* {
  font-family: pokemon, sans-serif;
  color: var(--white);
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

button {
  border: 3px solid var(--blue);
  border-radius: 10px;
  margin: 5px;
  width: 50%;
  height: 48px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  background-color: var(--black);
  display: inline-block;
}

#arena {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-image: url("assets/tusca.png");
  border: 5px solid var(--black);
  border-radius: 10px;
}

.grass {
  width: 100%;
  height: 50px;
  background-color: var(--brown);
  border: 2px solid var(--light-brown);
  border-radius: 100%;
  position: relative;
  top: -25px;
}

.nome {
  font-size: 10px;
  background-color: var(--real-black);
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

#gyarados {
  width: 100px;
  padding: 0 20px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#gyarados img, #tepig img {
  position: relative;
  z-index: 1;
}

#tepig {
 width: 100px;
 padding: 0 20px;
}


#player-health-bar, #opponent-health-bar {
  width: 100%;
  height: 10px;
  background-color: var(--red);
  border: 3px solid var(--black);
  border-radius: 6px;
  margin: 5px;
}

#player-health, #opponent-health {
  width: inherit;
  height: inherit;
  background-color: var(--green);
  transition: 1000ms;
  border-radius: 3px;
}

#text {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

#options {
  margin: 16px 0 0 0;
  padding: 16px 0 0 0;
  width: 100%;
}

.row {
  display: flex;
}
