:root {
	--nice-purple: blueviolet;
	--nice-blue: cornflowerblue;
}

* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: 'Orbitron', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

#root {
	height: 100%;
	width: 100%;
}

#arena-line {
	height: 500px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--nice-purple);
	background-color: var(--nice-blue);
	border-radius: 100%;
	overflow: hidden;
}

#movable-entity-container {
	position: relative;
	transform: translate(-50%, -50%);
}

.movable-entity {
	position: absolute;
}

#counter-container {
	height: 100px;
	width: 480px;
	border: 2px solid var(--nice-blue);
	font-size: 42px;
	background-color: var(--nice-purple);
	padding: 10px;
}

.counter {
	height: 70px;
	width: 210px;
	margin: 5px;
	padding: 5px;
	background-color: var(--nice-blue);
	color: white;
	text-align: center;
	display: inline-block;
}

.header {
	font-size: 12px;
}

#arena-container {
	position: absolute;
}

#fps {
	position: absolute;
	z-index: 100;
	display: unset;
	left: 10px;
	top: 10px;
	color: var(--nice-purple);
}