html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#root {
	display: grid;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	width: 100%;
}

.cell {
	width: 15px;
	height: 15px;
	border: 1px solid black;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
}

.hidden {
	cursor: pointer;
	background-color: lightslategray;
}

.bomb {
	background-image: url('assets/bomb.png');
}

.flag {
	background-image: url('assets/flag.png');
}

.revealed {
	cursor: default;
}

.revealed.flag.bomb {
	background-image: url('assets/green-flag.png');
	background-color: lightgreen;
}

.wrong-flag {
	background-image: url('assets/wrong-flag.png');
	background-color: #777;
}

button {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	user-select: none;
	justify-content: center;
	background-color: lightslategray;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: aquamarine;
}

button, .custom-size {
	border: 1px solid black;
	display: flex;
	margin: 10px;
}

.custom-size {
	border-radius: 6px;
	width: 130px;
	height: 20px;
	margin-top: 0;
	padding: 0 10px;
}

#root.start-menu {
	height: 100%;
}

p {
	margin: 0 10px;
	padding: 0;
}

#lives {
	padding: 10% 0 1% 0;
	display: flex;
	justify-content: center;
}

.life {
	width: 3%;
	height: 3%;
}